header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 10px solid #003885; /* Add bottom border with specified color */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.search-section {
    text-align: center;
    margin-top: 30px;
}

.search-section form {
    margin-bottom: 10px;
}

.search-section input[type="text"] {
    padding: 10px;
    width: 350px;
    font-size: 16px;
}

.search-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #49BEFF;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-buttons {
    margin-top: 10px;
}

.filter-buttons button {
    margin-right: 10px;
    background-color: #49BEFF;
    color: white;
    border: none;
    cursor: pointer;
}

.results-section > table:first-of-type {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    border: 1px solid #888; /* Darker border color for the first table */
}

.results-section > table:first-of-type th,
.results-section > table:first-of-type td {
    padding: 12px 15px;
    border: 1px solid #888; /* Darker border color for cells in the first table */
}

.results-section > table:nth-of-type(2) {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    border: 1px solid #555; /* Darker border color for the second table */
}

.results-section > table:nth-of-type(2) th,
.results-section > table:nth-of-type(2) td {
    padding: 12px 15px;
    border: 1px solid #555; /* Darker border color for cells in the second table */
}

.results-section > table:nth-of-type(2) tbody .highlight {
    background-color: rgba(255, 0, 0, 0.2); /* Red background color for rows in the second table */
}


.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 10px solid #003885; /* Add top border with specified color */
}
/* Styles for table and rows */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    transition: transform 0.2s ease;
}

th {
    background-color: #00a4e0;
    color: white;
}

tr {
    transition: transform 0.2s ease;
}

.search-page .results-section table tbody tr:hover td {
    transform: scale(1.12); /* Increase size on hover */
    
}

.search-page .results-section table tbody tr:hover {
    background-color: rgba(252, 245, 95, 0.5); /* Adjust the background color and opacity as desired */
}


/* Reset for <th> cells */
.search-page .results-section table tbody tr:hover th {
    transform: none; /* No transformation on hover */
}

.results-section {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px; /* Add space at the bottom */
}

.results-title {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: -20px;
    margin-top: -20px;
}

.results-title img {
    margin-left: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative; /* Necessary for tooltip positioning */
}

.tooltip-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 110%; /* Place the tooltip slightly to the right of the image */
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1; /* Ensure tooltip is on top */
}

.results-title img:hover + .tooltip-box,
.results-title img:focus + .tooltip-box,
.results-title img:active + .tooltip-box {
    display: block;
}
